.login {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #000000d3,
            rgba(0, 0, 0, 0.651)),
        url(../../assets/images/betting_bakground2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login>.loginCont {
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 35px;
    text-align: left;
    background-color: white;
}

.login>.loginCont>.imgCont {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.login>.loginCont>.imgCont>img {
    width: 40%;
}

.login>.loginCont>h3 {
    color: #006363;
    font-size: 22px;
    letter-spacing: -1px;
    margin-bottom: 5px;
    font-weight: 600;
}

.login>.loginCont>p {
    color: rgb(56, 56, 56);
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

.login>.loginCont>form {
    width: 100%;
}

.login>.loginCont>form>.email {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.login>.loginCont>form>.email>label {
    color: #006363;
    font-weight: 600;
    font-size: 13px;
}

.login>.loginCont>form>.email>input {
    height: 35px;
    width: 100%;
    padding-left: 5px;
    border: 1px solid #00B9B9;
    border-radius: 5px;
    outline: none;
    color: #006363;
    font-weight: 600;
}

.login>.loginCont>form>.email>input::placeholder {
    color: #006363;
    font-weight: 500;
}

.login>.loginCont>form>.password {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login>.loginCont>form>.password>label {
    color: #006363;
    font-weight: 600;
    font-size: 13px;
}

.login>.loginCont>form>.password>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #00B9B9;
    border-radius: 5px;
    padding: 0 5px;
    height: 35px;
}

.login>.loginCont>form>.password>div>input {
    width: 92%;
    height: 100%;
    outline: none;
    color: #006363;
    border: none;
    font-weight: 600;
    border-radius: 5px;
}

.login>.loginCont>form>.password>div>input::placeholder {
    color: #006363;
    font-weight: 500;
}

.login>.loginCont>form>.password>div>p {
    font-size: 17px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #57a1a1;
}

.login>.loginCont>form>.rememberForgot {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.login>.loginCont>form>.rememberForgot>.remember {
    display: flex;
    align-items: center;
}

.login>.loginCont>form>.rememberForgot>.remember>input {
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

.login>.loginCont>form>.rememberForgot>.remember>label {
    font-size: 13px;
    color: #006363;
    font-weight: 500;
}



.login>.loginCont>form>.rememberForgot>a {
    color: #006363;
    text-decoration: underline;
    font-weight: 500;
    font-size: 13px;
}

.login>.loginCont>form>.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login>.loginCont>form>.buttons>.loginButton {
    width: 47%;
    background-color: #00B9B9;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    height: 35px;
    cursor: pointer;
}

.login>.loginCont>form>.buttons>.signUpButton {
    width: 47%;
    border: 1px solid #00B9B9;
    border-radius: 5px;
    color: #00B9B9;
    font-weight: 600;
    height: 35px;
    cursor: pointer;
}

.login>.loginCont>form>.email>.emailInputError,
.login>.loginCont>form>.password>.passwordInputError {
    border: 1px solid rgb(255, 29, 29);
}