.allFootballComp {
    width: 100%;
}

.allFootballComp>.aFCCont {
    width: 100%;
}

.allFootballComp>.aFCCont>.betsBar {
    width: 100%;
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #77777757;
}

.allFootballComp>.aFCCont>.betsBar>.left {
    width: 37%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
}

.allFootballComp>.aFCCont>.betsBar>.left>span {
    margin-right: 27px;
}

.allFootballComp>.aFCCont>.betsBar>.center {
    width: 24%;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.allFootballComp>.aFCCont>.betsBar>.center>span {
    /* border: 1px solid red; */
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.allFootballComp>.aFCCont>.betsBar>.right {
    width: 37%;
    display: flex;
    justify-content: flex-end;
}

.allFootballComp>.aFCCont>.betsBar>.right>span {
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
}