.allFootballComp {
    width: 100%;
}

.allFootballComp>.aFCCont {
    width: 100%;
}

.allFootballComp>.aFCCont>.betsBar {
    width: 100%;
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.allFootballComp>.aFCCont>.betsBar>.left {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
    width: 10%;
    justify-content: space-between;
}

.allFootballComp>.aFCCont>.betsBar>.center {
    width: 40%;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.allFootballComp>.aFCCont>.betsBar>span {
    font-size: 14px;
    font-weight: 500;
    color: #bdbdbd;
}

.allFootballComp>.aFCCont>.betRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.allFootballComp>.aFCCont>.betRow>.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 37%;
    border: 1px solid red;
}

.allFootballComp>.aFCCont>.betRow>.left>.timeStats {
    width: 100px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allFootballComp>.aFCCont>.betRow>.left>.timeStats>div>span {
    font-size: 12px;
    font-weight: 500;
}

.allFootballComp>.aFCCont>.betRow>.left>.timeStats>div>p {
    font-size: 12px;
    font-weight: 500;
    color: #bdbdbd;
}

.allFootballComp>.aFCCont>.betRow>.left>.teamDet>h5 {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    color: white
}

.allFootballComp>.aFCCont>.betRow>.left>.teamDet {
    display: flex;
    align-items: center;
}

.allFootballComp>.aFCCont>.betRow>.left>.teamDet>h5 {
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    color: white
}

.allFootballComp>.aFCCont>.betRow img {
    width: 40px
}